.footer {
  background-color: $second-color;
  text-align: center;
  padding: 120px 20px;


  ul {
    margin-top: 60px;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    color: white;
    font-size: 13px;
    text-decoration: underline;
    letter-spacing: 2;
  }

  p {
    font-size: 15px;
    letter-spacing: 2.2;
    color: white;
    margin-bottom: 15px;
  }
}
