.footer {
  background-color: $second-color;
  text-align: center;
  padding: 120px 20px;

  &-image {
    margin-top: 80px;
    margin-bottom: 20px;
  }

  &-nav {
    span {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid white;
      margin-bottom: 15px;
      display: inline-block;

      &:first-child {
        border-left: none;
        margin-left: 0;
        padding-left: 0;
      }

      a {
        font-size: 11px;
      }
    }
  }

  li {
    margin-bottom: 5px;
  }

  a {
    color: white;
    font-size: 13px;
    text-decoration: underline;
    letter-spacing: 2;
  }

  p {
    font-size: 15px;
    letter-spacing: 2.2;
    color: white;
    margin-bottom: 15px;
  }
}
