.button {
  border: 1px solid rgba(0,0,0,0.1);
  padding: 8px 20px;
  border-radius: 15px;
  color: lighten($font-color, 5%);
  font-size: 14px;
}


.primary-button {
  border-color: $primary-color;
  color: $primary-color;

  &:hover {
    color: white;
    background-color: $primary-color;
  }
}

.warning-button {
  border-color: $complementary-color;
  color: $complementary-color;

  &:hover {
    background-color: $complementary-color;
    color: white;
  }
}
