.main {
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  height: 85%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  background-image: url("top.jpg");
}
