.nav {
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.9);
  height: 60px;
  z-index: 1;
  top: 0;

  &_content {
    float: right;
    margin-right: 150px;
    margin-top: 10px;
  }
}
