.user_content {
  max-width: 70%;
  margin: 40px auto;
  overflow: hidden;

  @include phone {
    max-width: 90%;
    text-align: center;
    overflow: initial;
  }

  &-right {
    float: left;
    width: 75%;
    padding-left: 50px;

    @include phone {
      float: none;
      width: 90%;
      padding: 10px 0;
      margin: auto;
    }

    .user_container {
      border-bottom: 1px solid $border-color;
      padding-bottom: 30px;
    }

    .user_sns {
      margin-top: 30px;
      overflow: hidden;

      @include phone {
        overflow: initial;
      }

      ul {
        float: left;
        padding-right: 100px;

        @include phone {
          float: none;
          padding: 0;
        }
      }

      li {
        margin-bottom: 7px;

        a {
          color: $text-color;
          text-decoration: underline;
          font-size: 15px;
          letter-spacing: 2.3;
          line-height: 1.9;

          &:hover {
            color: $font-color;
          }
        }
      }
    }
  }

  .user_description {
    float: left;

    @include phone {
      float: none;
    }

    p {
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      color: $font-color;
    }

    .profile-image {
      border-radius: 200px;
    }
  }
}
